body {
    color: #333;
  
}

.baslik {
    color: #004080; 
}

.alt-baslik {
    color: #007acc; 
}

.bolum-baslik {
    color: #990000; 
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 30px;
}

.icerik-baslik {
    color: #333;
    font-weight: bold;
}

.icerik {
    color: #555;
}